@model Boulevard.Models.Service
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string activeChk = "";
    string PageTitle = "", ButtonTitle = "";
    string buttonColor = "";
    if (Model.ServiceId != 0)
    {
        PageTitle = "Edit";
        ButtonTitle = "Reset";
        buttonColor = "warning";
    }
    else
    {
        PageTitle = "Add";
        ButtonTitle = "Save";
        buttonColor = "success";
    }
}



@using (Html.BeginForm("Create", "Package", FormMethod.Post, new { enctype = "multipart/form-data", @id = "myForm" }))
{


    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-12 align-self-center">
                    @if (ViewBag.FeatureCategoryKey == null)
                    {
                        <h3 class="text-themecolor mb-0">Hotel Info</h3>
                    }
                    else
                    {
                        <h3 class="text-themecolor mb-0">@ViewBag.FCatagoryName Package Info</h3>
                    }
                </div>
                <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                    <ol class="breadcrumb mb-0 p-0 bg-transparent float-right">
                    </ol>
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="row align-items-center mb-3">
                        <div class="col-md-5 col-12 align-self-center">
                            <h3>@ViewBag.FCatagoryName Package @PageTitle</h3>
                        </div>
                        <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                            <ol class="breadcrumb mb-0 p-0 bg-transparent float-right">
                                @if (ViewBag.FeatureCategoryKey == null)
                                {
                                    <li class="breadcrumb-item active"><a href="@Url.RouteUrl("Admin_ServiceList")">Package</a></li>
                                }
                                else
                                {
                                    <li class="breadcrumb-item active"><a href="@Url.RouteUrl("Admin_ServiceList", new {fCatagoryKey = ViewBag.FCatagoryKey})">@ViewBag.FCatagoryName Package</a></li>
                                }
                                <li class="breadcrumb-item active">@PageTitle @ViewBag.FCatagoryName Package</li>
                            </ol>
                        </div>

                    </div>
                    <hr>

                    <div class="card-body">
                        <div class="row">
                            <input type="hidden" name="ServiceId" class="form-control" value="@Model.ServiceId">
                            <input type="hidden" name="ServiceKey" class="form-control" value="@Model.ServiceKey">
                            <input type="hidden" name="CreateBy" class="form-control" value="@Model.CreateBy">
                            <input type="hidden" name="CreateDate" class="form-control" value="@Model.CreateDate">
                            <input type="hidden" name="Ratings" class="form-control" value="@Model.Ratings">
                            <input type="hidden" name="FeatureCategoryKey" class="form-control" value="@ViewBag.FeatureCategoryKey">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Name (Arabic)</label>
                                    @Html.TextBoxFor(m => m.NameAr, new { @class = "form-control", required = "required", dir = "rtl" })
                                </div>
                            </div>
                            @if (ViewBag.FeatureCategoryKey == null)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Property Type</label>
                                        <select name="PropertyType" id="PropertyType" Value="@Model.PropertyType" class="form-control">
                                            @if (Model.ServiceId != 0)
                                            {
                                                if (Model.PropertyType == "Hotel")
                                                {
                                                    <option value="Hotel" selected>Hotel</option>
                                                    <option value="Apartment">Apartment</option>

                                                }
                                                else
                                                {
                                                    <option value="Hotel">Hotel</option>
                                                    <option value="Apartment" selected>Apartment</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="Hotel">Hotel</option>
                                                <option value="Apartment">Apartment</option>

                                            }
                                        </select>
                                    </div>
                                </div>
                            }
                            @*<div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Service Hour</label>
                                        @Html.TextBoxFor(m => m.ServiceHour, new { @class = "form-control", type = "number", required = "required" })
                                    </div>
                                </div>*@

                            @*<div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Service Minute</label>
                                        @Html.TextBoxFor(m => m.ServiceMin, new { @class = "form-control", type = "number", required = "required" })
                                    </div>
                                </div>*@
                            <div class="col-lg-4 col-md-6 col-sm-12">

                                <div class="form-group">
                                    <label>Spoken Languages</label>

                                    @Html.TextBoxFor(m => m.SpokenLanguages, new { @class = "form-control", required = "required" })


                                </div>

                            </div>
                            @if (ViewBag.FeatureCategoryKey == "f4309df5-9121-41ad-831a-994c46b62766" || ViewBag.FeatureCategoryKey == "C286A46B-5B9A-4519-BB10-8D47EC254FFB")
                            {
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Agencies</label>
                                        @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.Catagory, "Choose Agencies", new { @class = "form-control", required = "required" })
                                    </div>
                                </div>
                            }
                            @*<div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>CheckIn Time</label>
                                        @Html.TextBoxFor(m => m.CheckInTime, new { @class = "form-control", type = "time", required = "required" })

                                    </div>
                                </div>*@
                            @*<div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>CheckOut Time</label>
                                        @Html.TextBoxFor(m => m.CheckOutTime, new { @class = "form-control", type = "time", required = "required" })


                                    </div>
                                </div>*@

                            @*<div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label>Ratings</label>
                                        @Html.TextBoxFor(m => m.Ratings, new { @class = "form-control", @type = "number", @min = 1, @max = 5, required = "required", @Value = 5 })

                                    </div>
                                </div>*@
                            @*<div class="col-md-4 col-sm-4">
                                    <div class="form-group">
                                        <label>Catagory</label>
                                        @Html.DropDownListFor(model => model.CategoryId, (List<SelectListItem>)ViewBag.Catagory, new { @class = "form-control select-2" })
                                    </div>
                                </div>*@
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Price</label>
                                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Country Name</label>
                                    @Html.DropDownListFor(model => model.CountryId, (List<SelectListItem>)ViewBag.Country, new { @class = "form-control select-2", @id = "ddCountryId", @onchange = "jsFunction(this.value)" })
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>City Name</label>
                                    @Html.DropDownListFor(model => model.CityId, (List<SelectListItem>)ViewBag.City, new { @class = "form-control", @id = "CityId" })
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Latitute</label>
                                    @Html.TextBoxFor(m => m.Latitute, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Logitute</label>
                                    @Html.TextBoxFor(m => m.Logitute, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Distance(km)</label>
                                    @Html.TextBoxFor(m => m.DistanceInKM, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Status</label>
                                    <select class="form-control custom-select select-2" name="Status" id="Status" required>
                                        <option value="">Select</option>
                                        @if (Model.Status != null)
                                        {
                                            if (Model.Status == "Active")
                                            {
                                                <option selected value="Active">Active</option>
                                                <option value="InActive">InActive</option>
                                            }
                                            else
                                            {
                                                <option value="Active">Active</option>
                                                <option selected value="InActive">InActive</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="Active">Active</option>
                                            <option value="InActive">InActive</option>
                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Details*</label>
                                        <textarea type="text" name="Description" class="form-control description">@Model.Description</textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Details (Arabic)*</label>
                                        <textarea type="text" name="DescriptionAr" dir="rtl" class="form-control description">@Model.DescriptionAr</textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>AboutUs*</label>
                                        <textarea type="text" name="AboutUs" class="form-control description">@Model.AboutUs</textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>AboutUs (Arabic)*</label>
                                        <textarea type="text" name="AboutUsAr" dir="rtl" class="form-control description">@Model.AboutUsAr</textarea>
                                    </div>
                                </div>
                                @*<div class="col-12">
                                    <div class="form-group">
                                        <label>Scope Of Service*</label>
                                        <textarea type="text" name="ScopeOfService" class="form-control description">@Model.ScopeOfService</textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Scope Of Service (Arabic)*</label>
                                        <textarea type="text" name="ScopeOfServiceAr" dir="rtl" class="form-control description">@Model.ScopeOfServiceAr</textarea>
                                    </div>
                                </div>*@
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div>
                                    <label>Image</label>
                                    <input type="file" name="Images" accept="image/png, image/jpeg" class="form-control dropify" multiple />
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            @foreach (var image in Model.ServiceImages)
                            {
                                <div class="col-12 col-md-6 col-lg-6">
                                    <div class="image-holder rounded-lg overflow-hidden" style="cursor: pointer; padding-top:25px">
                                        <img src="@image.Image" class="img-fluid" style="height: 150px;">
                                        <a onclick="DeleteImage('@image.ServiceImageId')" class="remove-image"><i class="mdi mdi-close" style="color:red"></i> </a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-body">
                            <div class="form-group mb-0 text-right">

                                <button type="submit" class="btn btn-@buttonColor waves-effect waves-light" id="submit-btn">@ButtonTitle</button>
                                @if (ViewBag.FeatureCategoryKey != null)
                                {
                                    <a href="@Url.RouteUrl("Admin_Package_List", new {fCatagoryKey = ViewBag.FeatureCategoryKey})" class="btn btn-dark waves-effect waves-light">
                                        Close
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.RouteUrl("Admin_Package_List")" class="btn btn-dark waves-effect waves-light">
                                        Close
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
@*<script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
    <script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>*@

<script>
    function jsFunction(value) {
        $.ajax({
            async: true,
            crossDomain: true,
            type: "GET",

            url: "/admin/get/city/by/countryId?countryId=" + value,
            success: function (data) {
                console.log(data);
                //var city = data.data.cities;
                var s = '<option value="-1">Please Select a City</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].CityId + '">' + data[i].CityName + '</option>';
                }
                $("#CityId").html(s);
            }
        });
    }






    function DeleteImage(id) {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
        icon: "question",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
      }).then((result) => {
          if (result.isConfirmed) {
             $.ajax({
                 url: "@Url.Action("DeleteImage", "Service")",
                 data: { ImageId: id },
                 type: "GET",
                 success: function (response) {
                     location.reload();
                 },
                 error: function (jqXHR, textStatus, errorThrown) {
                     console.log(textStatus, errorThrown);
                 }
             });
          }
    });
}



</script>