@model Boulevard.Models.ServiceLandmark
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string activeChk = "";
    string PageTitle = "", ButtonTitle = "";
    string buttonColor = "";
    if (Model.ServiceId != 0)
    {
        PageTitle = "Edit";
        ButtonTitle = "Reset";
        buttonColor = "warning";
    }
    else
    {
        PageTitle = "Add";
        ButtonTitle = "Save";
        buttonColor = "success";
    }
}



@using (Html.BeginForm("Create", "ServiceLandmark", FormMethod.Post, new { enctype = "multipart/form-data", @id = "myForm" }))
{


    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 col-12 align-self-center">
                    <h3 class="text-themecolor mb-0">Hotel Service Landmark</h3>
                </div>
                <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                    <ol class="breadcrumb mb-0 p-0 bg-transparent float-right">
                    </ol>
                </div>
            </div>

            <div class="card">
                <div class="card-body">

                    <div class="row align-items-center mb-3">
                        <div class="col-md-5 col-12 align-self-center">
                            <h3>@PageTitle Hotel Service Landmark</h3>
                        </div>
                        <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                            <ol class="breadcrumb mb-0 p-0 bg-transparent float-right">
                                <li class="breadcrumb-item active"><a href="@Url.RouteUrl("Admin_ServiceLandmarkList")">Service</a></li>
                                <li class="breadcrumb-item active">@PageTitle</li>
                            </ol>
                        </div>

                    </div>
                    <hr>

                    <div class="card-body">
                        <div class="row">
                            <input type="hidden" name="ServiceLandmarkId" class="form-control" value="@Model.ServiceLandmarkId">
                            <input type="hidden" name="ServiceLandmarkKey" class="form-control" value="@Model.ServiceLandmarkKey">
                            <input type="hidden" name="CreateBy" class="form-control" value="@Model.CreateBy">
                            <input type="hidden" name="CreateDate" class="form-control" value="@Model.CreateDate">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Name (Arabic)</label>
                                    @Html.TextBoxFor(m => m.NameAr, new { @class = "form-control", required = "required", dir = "rtl" })
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Service</label>
                                    @Html.DropDownList("ServiceId", (IEnumerable<SelectListItem>)ViewBag.service, "Choose Service", new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Distance</label>
                                    @Html.TextBoxFor(m => m.Distance, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Latitude</label>
                                    @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label>Longitude</label>
                                    @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group mb-0 text-right">
                                <button type="submit" class="btn btn-@buttonColor waves-effect waves-light" id="submit-btn">@ButtonTitle</button>
                                <a href="@Url.RouteUrl("Admin_ServiceLandmarkList")" class="btn btn-dark waves-effect waves-light">
                                    Close
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
