@{
    ViewBag.Title = "Grocery Category";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-12 align-self-center">
                <h3 class="text-themecolor mb-0">Grocery Category</h3>
            </div>
            <div class="col-md-7 col-12 align-self-center d-none d-md-block">
                <ol class="breadcrumb mb-0 p-0 bg-transparent float-right">
                </ol>
            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <div class="row align-items-center mb-3">
                    <div class="col-sm-8">
                        <h4 class="card-title">List</h4>
                    </div>

                    <div class="col-sm-4 text-right">
                        <a href="@Url.RouteUrl("Admin_GroceryCategoryAdd")" class="btn btn-success  waves-effect">
                            <i class="mdi mdi-plus"></i> Add
                        </a>
                    </div>
                </div>
                <hr>

                <div class="table-responsive">

                    <table id="zero_config" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Image</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Vegetable</td>
                                <td>
                                    <img src="~/Areas/Admin/Content/assets/images/Test Image/green-cabbage-envato.jpg" style="max-width:50px;max-height:50px;">
                                </td>
                                <td>
                                    <a href="@Url.RouteUrl("Admin_GroceryCategoryEdit")" class="btn btn-success btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:;" class="btn btn-primary btn-xs" onclick="Delete()">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Food</td>
                                <td>
                                    <img src="~/Areas/Admin/Content/assets/images/Test Image/815cRVLVFXL._AC_SX569_.jpg" style="max-width:50px;max-height:50px;">
                                </td>
                                <td>
                                    <a href="@Url.RouteUrl("Admin_GroceryCategoryEdit")" class="btn btn-success btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:;" class="btn btn-primary btn-xs" onclick="Delete()">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Dairy & Desserts</td>
                                <td>
                                    <img src="~/Areas/Admin/Content/assets/images/Test Image/3d_miloactivgo_gh_400g-new_tin_hr.jpg" style="max-width:50px;max-height:50px;">
                                </td>
                                <td>
                                    <a href="@Url.RouteUrl("Admin_GroceryCategoryEdit")" class="btn btn-success btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:;" class="btn btn-primary btn-xs" onclick="Delete()">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>HairCare</td>
                                <td>
                                    <img src="~/Areas/Admin/Content/assets/images/Test Image/Hask-Coconut-Oil-Nourishing-Shampoo-355ml.jpg" style="max-width:50px;max-height:50px;">
                                </td>
                                <td>
                                    <a href="@Url.RouteUrl("Admin_GroceryCategoryEdit")" class="btn btn-success btn-xs">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:;" class="btn btn-primary btn-xs" onclick="Delete()">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Delete(id) {
        Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
            icon: "question",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!"
          }).then((result) => {
              if (result.isConfirmed) {
                 $.ajax({
                     url: "@Url.Action("Delete", "FeatureCategory")",
                     data: { Key: id },
                     type: "GET",
                     success: function (response) {
                         location.reload();
                     },
                     error: function (jqXHR, textStatus, errorThrown) {
                         console.log(textStatus, errorThrown);
                     }
                 });
              }
        });
    }
</script>


